.product-list {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10%;
    gap: 20px;
    }
    

.product {
display: inline-block;
height: 50%;
width: 30%;
border: 1px solid rgb(79, 79, 79);
margin: 3px;
padding-bottom: 0;

}

.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product h4 {
 margin-top: 10px;
 margin-left: 5px;
 margin-bottom: 3px;
 font-size: 120%;
}

.product p {
    margin-left: 5px;
}

.add-to-cart {
    display: block;
    width: 100%;
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.error-container {

    text-align: center; /* İçeriği ortalar */
    display: flex;
    flex-direction: column; /* Öğeleri dikey hizalar */
    align-items: center; /* Ortaya alır */
}

.error {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}
.fa-xmark {
    display: block!important;
    color: red;
    font-size: 150px;
    align-items: center;
    margin-bottom: 500px;

}

.all{
    display: block;
    height: 100%;
    width: 80%;
    margin-left: 20%;
}

.headers {
    display: flex;
    background-color: rgb(223, 223, 223);
    font-size: 250%;
    padding: 0;
    text-align: center; /* İçeriği yatayda ortalamak için */
}

.headers form {
    display: inline-block;
    margin: 1%;
}

.headers span {
    position: absolute;
    margin-left: 33%;
    padding: 1%;
}

.add-product-form {
    display: inline-block;
    height: auto;
    width: 30%;
    border: 1px solid rgb(79, 79, 79);
    margin: 3px;
    margin-left: 33px;
    padding-bottom: 0;
}

.add-product-form div {
    display: flex;
    margin: 3px;
    margin-bottom: 2%;
    padding: 1%;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 95%;
}


.add-product-form div label {
    width: 40%;
    padding-bottom: 0;
    font-weight: bold;
}

.add-product-form div input {
    display: block; /* Input'u alt alta getirir */
    width: 10%;
    border: 1px solid rgb(79, 79, 79);
    margin: 0;
    padding-bottom: 0;
    margin-top: 5px; /* Etiket ve input arasına boşluk ekler */
}



.add-button {
    display: block;
    width: 100%;
    background-color: rgb(206, 206, 206);
    border-top: 1px solid rgb(79, 79, 79);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.search-image {
    width: 10px;
    background-color: rgb(206, 206, 206);
    border-top: 1px solid rgb(79, 79, 79);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
}

.add-product-form h1 {
    margin: 0;
    padding: 10%;
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
}

.add-product-form .input-container input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-button:hover {
    background-color: #45a049;
    color: white;
}

.metin{
    display: none;
}
