
/* Konteyner */
.container {
    width: 90%;
    max-width: 600px;
    margin-top: 0!important;
    margin: 50px auto;
    background: white;
    padding: 20px;
    text-align: center;
}

/* Sayfa başlığı */
.page-title {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Form */
.upload-form {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

/* Dosya yükleme */
.file-input {
    border: 2px solid #34db42;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.file-input:hover {
    background-color: #edf1ec;
}

/* Butonlar */
.btn-primary, .btn-secondary {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn-primary {
    background-color: #2bb52b!important;
    color: white;
}
.btn-primary:hover {
    background-color: #31f434!important;
}
.btn-secondary {
    display: block;
    background-color: #2ecc71!important;
    color: white;
}
.btn-secondary:hover {
    background-color: #27ae60!important;
}

/* Resim önizleme alanı */
.image-preview {
    margin-top: 20px;
}
.preview-title {
    font-size: 18px;
    color: #2c3e50;
    margin-bottom: 10px;
}
.uploaded-image {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
